@using Microsoft.AspNetCore.Http;
@Model IrentBook.Models.Libro;
@{
    ViewBag.title = "Crear Libro";
    var rol = Context.Session.GetString("Rol");
    if (rol.Equals("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout-Usuarios.cshtml";
    }
}
<h2>Crear Libro</h2>