@using Microsoft.AspNetCore.Http;
@Model IrentBook.Models.Pelicula
@{
    ViewBag.title = "Crear Pelicula";
    var rol = Context.Session.GetString("Rol");
    if (rol.Equals("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout-Usuarios.cshtml";
    }
}
<h2>Crear Pelicula</h2>