@using Microsoft.AspNetCore.Http;
@{
    ViewBag.title = "Libros";
    var rol = Context.Session.GetString("Rol");
    if (rol.Equals("Admin"))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout-Usuarios.cshtml";
    }
}
<h1>Crear Libros</h1>
