@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IRentBook</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/login.css" rel="stylesheet">
</head>
<body class="text-center">

    <main class="form-signin">
        <form method="post" asp-action="Login">
            <img class="mb-4" src="~/img/logo.png" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">IRentBook</h1>

            <div class="form-floating">
                <input type="number" class="form-control" id="floatingInput" name="codigoUsuario" placeholder="1000000">
                <label for="floatingInput">Código de usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Contraseña</label>
            </div>

            <button class="w-100 btn btn-lg btn-secondary" type="submit">Iniciar sesion</button>
        </form>
    </main>
</body>
</html>